<section class="content">
    <h6 class="ErrorText"> <%= Error %> </h6>

    <h1>Insert the Url you want to Shorten</h1>

    <form action="/" method="POST">
        <input type="text" name="Url" id="UrlInput" placeholder="Insert url..."><br>
        <button type="submit">Submit</button>
    </form>

</section>