<%- include ("partials/Head") -%>

<body>
    <%- include ("partials/Header") -%>
    <section class="success">
        <h3>Shortened sucessfully, your new URL is: <%= nuevaUrl %> </h3>
        <a href="/">
            <h4>Go back to Home</h4>
        </a>

    </section>
</body>
<%- include ("partials/Footer") -%>